/* =======================================================
   GENERAL STYLES
======================================================= */


:root{
    --primary:#06294A;
    --secondary:#16B6C8;
    --accent:#4FD6D8;
    --background:#FFFFFF;
     --page-background: #e3eef2;
    --section:#e0eef4;
    --border:#DCEFF5;
    --text:#5F6368;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:var(--background);
    color:var(--text);
}

a{
    text-decoration:none;
}

img{
    max-width:100%;
}

section{
    padding:80px 0;
}



